


.services-main{
    color: #dddddd;
    background: url("../img/background-escuro-fosco.jpg");
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.services-main span{
    color: #fff;
    font-weight: bold;

}

.services-main h1{
    font-size: 38px;

}
.services-main h2{
    font-weight: lighter;

}

.page-section-content{
    width: 100%;
    margin-bottom: 10vh;
    background: rgba(0,0,0,0.6);

}

.page-section-content h2{
    font-size: 30px;
}

.page-section-content h3{
    font-size: 20px;
    font-weight: lighter;
}

.container-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;

}

.container-title span{
    background: #4aa3ff;
    text-shadow: 0.5px 0.5px 0.5px #000;
    padding: 5px 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    display: inline-block;

}

.container-title2{
    margin-bottom: 10vh;
}

/* -------------------------- SWIPER --------------------------- */

.services-swiper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-swiper{
    margin-bottom: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.service-card {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    margin: 0 auto;
    gap: 40px;
    padding: 40px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
}

/* IMAGEM */
.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

/* TEXTO (CENTRALIZAÇÃO VERTICAL REAL) */
.service-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.service-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.service-info i{
    font-size: 18px;
}

.subtitle {
    color: #4aa3ff !important;
    margin-bottom: 20px;
}

.service-info ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.service-info li {
    margin-bottom: 10px;
}

/* BOTÃO */
.btn-slide {
    align-self: center;
    width: fit-content;
    padding: 12px 28px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.btn-slide:hover{
    background: #00c6ff;
    box-shadow: 0 0 10px #00c6ff,
                0 0 20px #00c6ff;
    color: #fff;
}

/* PAGINAÇÃO */
.swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    background: #4aa3ff;
    opacity: 1;
}

.low-height{
    height: 80%;
}


/* MOBILE */
@media (max-width: 768px) {
    .container-title{
        padding-left: 0;
        text-align: center;
    }

    .container-title h3{
        text-align: center;
        padding: 0 10px;
    }
    .swiper-button-prev,
    .swiper-button-next {
        width: 50px;
        height: 50px;
        padding: 4px;

        /* 2. Cor de fundo e forma */
        background-color: rgba(0, 224, 254, 0.3);
        border-radius: 100%;

        /* 3. Sombra para dar profundidade e o aspecto "fofo" */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        /* 5. Transição suave ao passar o mouse */
        transition: all 0.3s ease;
    }

    .swiper {
        --swiper-navigation-size: 35px; /* Valor padrão costuma ser 44px */
        font-weight: bold;
        --swiper-navigation-color: #fff;
    }
    .service-card {
        grid-template-columns: 1fr;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    .service-image{
        width: 100% !important;
        max-width: 100vh !important;
    }

    .service-image img{
        width: 100%;
        height: 100%;
    }
    .btn-slide {
        margin: 0 auto;
    }
}

